header.header
    h1 Web-Sample
    nav
        ul.nav-container
            li.nav-item
                a(href="/") Home
            li.nav-item
                a(href="/input") Input
            li.nav-item
                a(href="/exam") Exam
            li.nav-item
                script.
                    document.write("<a href=\"/prob/"+ #{exam_id} + "\"> Prob</a>");
            
            li.nav-item
                script.
                    document.write("<a href=\"/answer/"+ #{prob_id} + "\"> Answer</a>");

            li.nav-item
                script.
                    document.write("<a href=\"/create_answer/"+ #{prob_id} + "\"> Create_Ans</a>");