header.header
    h1 Web-Sample
    nav
        ul.nav-container
            li.nav-item
                a(href="/") Home
            li.nav-item
                a(href="/input") Input
            li.nav-item
                a(href="/exam") Exam
            li.nav-item
                a(href="/create_prob") Create_Prob