extends ./layouts/ans_main

block content
    style.
        th,td {
                border:1px solid darkslategrey;
                padding:auto;
                margin:auto;
                margin-top:50px;
                width:400px;
                text-align:center;
            }
    script.
        var i=1;

    #prob
        if idx==0
            h3 생성된 답안이 없습니다.
        else 
            table  
                th 답안 번호
                th 답안
                th
                each obj in list
                    tr 
                        td 
                            script.
                                document.write(i);
                                i++
                        td
                            if prob_kind == 'P'
                                img(src = obj.answ_value, width="200", height="200")
                            else 
                                p=obj.answ_value
                        td
                            table
                                td
                                    p 수정
                                td
                                    if prob_kind == 'N'
                                        a(href="/delete_answer1/"+obj.answ1_id) 삭제
                                    else if prob_kind == 'P'
                                        a(href="/delete_answer2/" + obj.answ2_id) 삭제
                                    else 
                                        a(href="/delete_answer3/"+obj.answ3_id) 삭제