extends ./layouts/ans_main

block content
    style.
        th,td {
                border:1px solid darkslategrey;
                padding:auto;
                margin:auto;
                margin-top:50px;
                width:400px;
                text-align:center;
            }
    script.
        var i=1;

    #prob
        form(action='/cor_exam/'+id, method='post') 
            table  
                th 답안 파일
                th
                tr 
                    td
                        p 답안
                    td
                        input(type="file",name='file')
                tr
                    td
                    td
                        input(type='submit', value='제출')
