extends ./layouts/ans_main

block content
    style.
        table,th,td {
                border:1px solid darkslategrey;
                padding:auto;
                margin:auto;
                margin-top:50px;
                width:400px;
                text-align:center;
                vertical-align:middle;
                line-height:50px;
            }
        #text{
            height:100px;
            width:200px;
        }
        #head{
            text-align:center;
        }
        
    div
        h3#head 답안 생성
            form(action="/create_answer/"+prob_id, method="post", enctype="multipart/form-data")
                input(type="hidden", value = exam_id, name = "exam_id")
                input(type="hidden", value = answer_cnt, name="answer_cnt")
                input(type="hidden", value = prob_kind, name="prob_kind")

                table
                    tr
                        td 답안
                        td
                            if prob_kind == 'P'
                                input(type="file", name="file" )
                            else
                                textarea#text(name='answer_value')
                    tr
                        td
                        td
                            input(type="submit", value="생성")